<p id=“notice”><%= notice %></p>
<p>
  <strong>Name:</strong>
  <%= @strain.name %>
</p>
<p>
  <strong>Grape color:</strong>
  <%= @strain.grape_color %>
</p>
<%= link_to 'Edit', edit_strain_path(@strain) %> |
<%= link_to 'Back', strains_path %>